<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <client>
			<!-- Prvi EP - redovna komunikacija sa serverom -->
            <endpoint name="ServisLica" 
				      address="net.tcp://localhost:8001/IFizickaLica" 
				      binding="netTcpBinding" 
				      contract="Common.IFizickaLica"/>
			<!-- Drugi EP - autentifikacija, autorizacija -->
            <endpoint name="BezbednosniServis" 
				      address="net.tcp://localhost:8001/IFizickaLica" 
				      binding="netTcpBinding" 
				      contract="Common.IBezbednosniMehanizmi"/>
        </client>
    </system.serviceModel>
</configuration>