<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <client>
			<!--- Dobijaš jedan EP, sama praviš drugi EP -->
            <endpoint name="Studenti"
                      address="net.tcp://localhost:8001/SSluzba"
                      binding="netTcpBinding"
                      contract="Common.IStudentskaSluzba" />
			<!-- Dodati EP za bezbednost -->
			<endpoint name="StudentiBezbednost"
                      address="net.tcp://localhost:8001/SSluzbaBezbednost"
                      binding="netTcpBinding"
                      contract="Common.IBezbednosniMehanizmi" />
        </client>
    </system.serviceModel>
</configuration>