<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="Server.FizickaLicaServer">
            <host>
                <baseAddresses>
                <add baseAddress="net.tcp://localhost:4000"/>
                </baseAddresses>
            </host>
			<!-- Prvi EP - redovan rad servera -->
            <endpoint address="IFizickaLica" 
					  binding="netTcpBinding" 
                      contract="Common.IFizickaLica"/>
            <!-- Drugi EP - bezbednost servera -->
			<endpoint address="IBezbednosniMehanizmi" 
					  binding="netTcpBinding"
                      contract="Common.IBezbednosniMehanizmi"/>
            </service>
        </services>    
    </system.serviceModel>  
</configuration>