<?xml version="1.0" encoding="utf-8"?>
 <configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <services>
            <service name="Server.FizickaLicaServer">
            <host>
                <baseAddresses>
                <add baseAddress="net.tcp://localhost:8001"/>
                </baseAddresses>
            </host>
            <!-- Samo jedan EP (jer nemamo autentifikaciju) -->
            <endpoint address="IFizickaLica" 
				      binding="netTcpBinding" 
				      contract="Common.IFizickaLica"/>
            </service>
        </services>
    </system.serviceModel>
</configuration>