<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <client>
			<!-- Dva EP - izvor i odredište -->
            <endpoint name="Izvor"
                      address="net.Tcp://localhost:8001/SSluzba"
                      binding="netTcpBinding"
                      contract="Common.IStudentskaSluzba" />
			<endpoint name="Odrediste"
                      address="net.Tcp://localhost:8002/SSluzba"
                      binding="netTcpBinding"
                      contract="Common.IStudentskaSluzba" />
        </client>
    </system.serviceModel>
</configuration>