<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <client>
			<!-- Dva EP, IReplikator contract -->
            <endpoint name="Izvor"
                      address="net.tcp://localhost:8001/Replikacija"
                      binding="netTcpBinding"
                      contract="Common.IReplikator" />
			<endpoint name="Odrediste"
                      address="net.tcp://localhost:8002/Replikacija"
                      binding="netTcpBinding"
                      contract="Common.IReplikator" />
        </client>
    </system.serviceModel>
</configuration>