<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <client>
			<!-- Prvi EP - za redovan rad servera -->
            <endpoint name="ServiceName"
                    address="net.tcp://localhost:4000/IFizickaLica"
                    binding="netTcpBinding"
                    contract="Common.IFizickaLica"/>
			<!-- Drugi EP - za bezbednost servera -->
            <endpoint name="ServiceNameBezbednost"
                    address="net.tcp://localhost:4000/IBezbednosniMehanizmi"
                    binding="netTcpBinding"
                    contract="Common.IBezbednosniMehanizmi"/>
        </client>
    </system.serviceModel>  
</configuration>