<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <services>
			<!-- Klasa koja implementira interfejs -->
            <service name="Server.StudentskaSluzbaServer">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:8001" />
                    </baseAddresses>
                </host>
				
			    <!-- adresa - proizvoljna / binding - TCP / contract - interfejs -->
		        <!-- Prvi EP - redovan rad servera -->
                <endpoint address="SSluzba" 
                          binding="netTcpBinding"
                          contract="Common.IStudentskaSluzba" />
			    <!-- Drugi EP - autentifikacija korisnika -->
			    <endpoint address="SSluzbaBezbednost"
				          binding="netTcpBinding"
				          contract="Common.IBezbednosniMehanizmi" />
			</service>
        </services>
    </system.serviceModel>
</configuration>