<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
    <client>
	<!-- name - proizvoljno, koristi isto to u ChannelFactory-u -->
	<!-- address - proizvoljno, baza + isto kao server / binding - TCP / contract - interfejs sa metodama -->
    <endpoint name="ServiceName"
              address="net.tcp://localhost:4000/IFizickaLica"
              binding="netTcpBinding"
              contract="Common.IFizickaLica"/>  
    </client>
    </system.serviceModel>  
</configuration>