<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
    <services>
	    <!-- service name - klasa koja implementira interfejs -->
        <service name="Server.FizickaLicaServer">
        <host>
			<!-- baseAddress - self-explainatory -->
            <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000"/>
            </baseAddresses>
        </host>
		<!-- address - proizvoljno / binding - TCP / contract - interfejs sa metodama -->
        <endpoint address="IFizickaLica" 
				  binding="netTcpBinding" 
                  contract="Common.IFizickaLica"/>
        </service>
    </services>    
    </system.serviceModel>  
</configuration>