<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <client>
			<!-- Osim porta, sve je isto -->
			<!-- Prvi EP - izvor -->
            <endpoint name="Izvor" 
			          address="net.tcp://localhost:8001/IFizickaLica" 
			          binding="netTcpBinding" 
					  contract="Common.IFizickaLica"/>
			<!-- Drugi EP - odredište -->
            <endpoint name="Odrediste" 
			          address="net.tcp://localhost:8002/IFizickaLica" 
			          binding="netTcpBinding" 
		              contract="Common.IFizickaLica"/>
        </client>
    </system.serviceModel>
</configuration>